* {
	font-family: arial;
}

body {
	margin: 0 auto;
	background: url(https://images.wallpaperscraft.com/image/starry_sky_night_mountains_117812_1920x1080.jpg)
		no-repeat center center fixed;
	background-size: cover;
}

header {
	display: flex;
	align-items: center;
	color: white;
	background: rgba(0, 0, 0, 0.6);
	height: 10vh;
}

header i {
	margin-right: 10px;
}

#title {
	margin-left: 10px;
	margin-right: auto;
	font-size: 7vh;
}

#city-search {
	margin-right: 10px;
	border: none;
	padding: 5px;
	background: rgba(255, 255, 255, 0.6);
}

main {
	background: rgba(0, 0, 0, 0.3);
	height: 85vh;
}

footer {
	background: rgba(0, 0, 0, 0.6);
	height: 5vh;
}
