* {
	font-family: arial;
}

body {
	margin: 0 auto;
	background: url(https://images.wallpaperscraft.com/image/starry_sky_night_mountains_117812_1920x1080.jpg)
		no-repeat center center fixed;
	background-size: cover;
}

header {
	color: white;
	display: flex;
	align-items: center;
	background: rgba(0, 0, 0, 0.7);
	height: 40px;
}

header i {
	margin-right: 10px;
	height: 20px;
}

#title {
	margin-left: 10px;
	margin-right: auto;
	font-size: 20px;
}

#city-search {
	margin-right: 10px;
	border: none;
	padding: 5px;
	height: 25px;
	background: rgba(255, 255, 255, 0.6);
}

.card {
	color: white;
	height: 400px;
	width: 300px;
	background: rgba(0, 0, 0, 0.7);
	margin: 10px auto;
}

.card div {
	font-size: 30px;
	text-align: center;
}
